kestra/flows/01-failure-intake-rca.yaml
id: failure-intake-rca
namespace: company.self-healing

description: |
  Workflow #1: Failure Intake + Root Cause Analysis
  1. Receives CI failure data
  2. Normalizes logs
  3. Uses Gemini 2.0 Flash for RCA with "Smart Blame" logic
  4. Triggers Code Fixer

labels:
  project: self-healing-ci
  stage: intake
  ai_model: gemini-2.0-flash

inputs:
  - id: repository
    type: STRING
    required: true
  - id: branch
    type: STRING
    defaults: "main"
  - id: job_name
    type: STRING
    required: true
  - id: error_message
    type: STRING
    required: true
  - id: error_logs
    type: STRING
    required: true
  - id: github_token
    type: STRING
    required: true
  - id: commit_sha
    type: STRING
    defaults: ""
  - id: gemini_api_key
    type: STRING
    defaults: ""

tasks:
  # ============================================
  # STEP 0: Extract Inputs
  # ============================================
  - id: extract_inputs
    type: io.kestra.plugin.scripts.python.Script
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      image: python:3.11-slim
      networkMode: bridge
    env:
      REPOSITORY: "{{ trigger.body.repository ?? inputs.repository ?? '' }}"
      BRANCH: "{{ trigger.body.branch ?? inputs.branch ?? 'main' }}"
      JOB_NAME: "{{ trigger.body.job_name ?? inputs.job_name ?? '' }}"
      ERROR_MESSAGE: "{{ trigger.body.error_message ?? inputs.error_message ?? '' }}"
      ERROR_LOGS: "{{ trigger.body.error_logs ?? inputs.error_logs ?? '' }}"
      GITHUB_TOKEN: "{{ trigger.body.github_token ?? inputs.github_token ?? '' }}"
      COMMIT_SHA: "{{ trigger.body.commit_sha ?? inputs.commit_sha ?? '' }}"
      GEMINI_API_KEY: "{{ trigger.body.gemini_api_key ?? inputs.gemini_api_key ?? '' }}"
    outputFiles:
      - "inputs.json"
    script: |
      import os, json
      
      data = {
          "repository": os.getenv("REPOSITORY", ""),
          "branch": os.getenv("BRANCH", "main"),
          "job_name": os.getenv("JOB_NAME", ""),
          "error_message": os.getenv("ERROR_MESSAGE", ""),
          "error_logs": os.getenv("ERROR_LOGS", ""),
          "github_token": os.getenv("GITHUB_TOKEN", ""),
          "commit_sha": os.getenv("COMMIT_SHA", ""),
          "gemini_api_key": os.getenv("GEMINI_API_KEY", "")
      }
      
      with open("inputs.json", "w") as f:
          json.dump(data, f, indent=2)
      
      print(f"✅ Inputs extracted for: {data['repository']}")

  # ============================================
  # STEP 1: Log Intake
  # ============================================
  - id: log_intake
    type: io.kestra.plugin.core.log.Log
    message: |
      🚀 STARTING WORKFLOW #1: RCA
      Repo: {{ json(read(outputs.extract_inputs.outputFiles['inputs.json'])).repository }}
      Error: {{ json(read(outputs.extract_inputs.outputFiles['inputs.json'])).error_message }}

  # ============================================
  # STEP 3: Normalize Logs
  # ============================================
  - id: normalize_logs
    type: io.kestra.plugin.scripts.python.Script
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      image: python:3.11-slim
      networkMode: bridge
    env:
      RAW_LOGS: "{{ json(read(outputs.extract_inputs.outputFiles['inputs.json'])).error_logs }}"
    outputFiles:
      - "normalized_logs.json"
    script: |
      import os, json, re
      
      raw = os.getenv('RAW_LOGS', '')
      # Strip ANSI codes
      clean = re.sub(r'\x1B(?:[@-Z\\-_]|\[[0-?]*[ -/]*[@-~])', '', raw)
      
      lines = clean.splitlines()
      # Simple heuristic to find error lines
      error_lines = [line.strip() for line in lines if any(x in line.lower() for x in ['error', 'exception', 'failed', 'traceback'])]
      
      normalized = {
          "clean_logs": clean[:20000], # Truncate for AI context window
          "error_lines": error_lines[:20]
      }
      
      with open("normalized_logs.json", 'w') as f:
          json.dump(normalized, f)
      
      print(f"✅ Logs normalized. Found {len(error_lines)} error lines.")

  # ============================================
  # STEP 4: AI Root Cause Analysis (GEMINI 2.0)
  # ============================================
  - id: ai_root_cause_analysis
    type: io.kestra.plugin.scripts.python.Script
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      image: python:3.11-slim
      networkMode: host
    beforeCommands:
      - pip install google-generativeai
    env:
      GEMINI_API_KEY: "{{ json(read(outputs.extract_inputs.outputFiles['inputs.json'])).gemini_api_key }}"
      REPOSITORY: "{{ json(read(outputs.extract_inputs.outputFiles['inputs.json'])).repository }}"
      ERROR_LOGS: "{{ json(read(outputs.extract_inputs.outputFiles['inputs.json'])).error_logs }}"
    outputFiles:
      - "ai_response.json"
    script: |
      import os, json
      import google.generativeai as genai
      
      key = os.getenv('GEMINI_API_KEY')
      if not key: raise ValueError("Missing API Key")
      
      genai.configure(api_key=key)
      
      repo = os.getenv('REPOSITORY')
      logs = os.getenv('ERROR_LOGS')[:30000] # Safe limit
      
      # JSON Schema for strict output
      schema_hint = '''
      {
        "error_type": "string",
        "failed_file": "path/to/file",
        "failed_line": int,
        "root_cause": "string",
        "fix_plan": "string",
        "confidence_score": float
      }
      '''
      
      # ✅ FIX: Enhanced Prompt to stop AI from blaming test files
      prompt = f"""
      You are a Senior Site Reliability Engineer. Analyze this CI failure for repo {repo}.
      
      ## CRITICAL RULES FOR DIAGNOSIS
      1. **Distinguish Messenger vs. Culprit:** - If `test_calc.py` fails on an assertion like `assert add(2,3) == 5`, the bug is likely in `calc.py`, NOT the test file.
         - Do NOT target the test file unless the syntax of the test itself is broken.
      
      2. **Target File Identification:**
         - `failed_file` must be the SOURCE CODE file that contains the logic error.
         - Look at the stack trace. Find the function being called when the error happened.
      
      3. **Fix Plan:**
         - Never suggest changing the test expectation to match the buggy result.
         - Fix the logic in the source code.
      
      ## Logs
      {logs}
      
      ## Required JSON Output
      Return ONLY a JSON object.
      {schema_hint}
      """
      
      print("🤖 Calling Gemini 2.0 Flash...")
      model = genai.GenerativeModel('models/gemini-2.0-flash')
      response = model.generate_content(prompt)
      
      # Save raw response text
      with open("ai_response.json", "w") as f:
          json.dump({"content": response.text}, f)
      
      print("✅ AI Analysis Complete.")

  # ============================================
  # STEP 5: Parse AI Response
  # ============================================
  - id: parse_rca_response
    type: io.kestra.plugin.scripts.python.Script
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      image: python:3.11-slim
      networkMode: bridge
    env:
      AI_RESPONSE: "{{ json(read(outputs.ai_root_cause_analysis.outputFiles['ai_response.json'])).content }}"
      REPO: "{{ json(read(outputs.extract_inputs.outputFiles['inputs.json'])).repository }}"
    outputFiles:
      - "rca_result.json"
    script: |
      import os, json, re, sys
      
      try:
          raw = os.getenv('AI_RESPONSE', '')
          # Clean markdown code blocks
          clean = re.sub(r'```json|```', '', raw).strip()
          
          # Attempt Parse
          rca = {}
          try:
              rca = json.loads(clean)
          except Exception as e:
              print(f"❌ JSON Parse Failed: {e}")
              # Important: Do NOT default to src/app.js. Leave it empty/None.
              rca = {"root_cause": f"Parsing Failed: {e}", "confidence_score": 0.0}

          # Normalize keys to ensure downstream flow doesn't break
          final_rca = {
              "repository": os.getenv('REPO'),
              "root_cause": rca.get('root_cause', "Unknown Cause"),
              "target_file": rca.get('failed_file', rca.get('target_file')), # Handle synonyms
              "fix_plan": rca.get('fix_plan', "Manual Review"),
              "confidence_score": rca.get('confidence_score', 0.0)
          }

          # Write result file - CRITICAL: This must run for the task to succeed
          with open("rca_result.json", 'w') as f:
              json.dump(final_rca, f, indent=2)

          print(f"✅ RCA Result Saved. Target File: {final_rca.get('target_file')}")
          
      except Exception as main_err:
          print(f"❌ Critical Script Error: {main_err}")
          with open("rca_result.json", 'w') as f:
              json.dump({"error": str(main_err), "fix_successful": False}, f)
          sys.exit(1)

  # ============================================
  # STEP 7: Trigger Cline Code Fixer
  # ============================================
  - id: trigger_code_fixer
    type: io.kestra.plugin.core.flow.Subflow
    namespace: company.self-healing
    flowId: cline-code-fixer
    wait: true
    transmitFailed: true
    inputs:
      repository: "{{ json(read(outputs.extract_inputs.outputFiles['inputs.json'])).repository }}"
      branch: "{{ json(read(outputs.extract_inputs.outputFiles['inputs.json'])).branch }}"
      github_token: "{{ json(read(outputs.extract_inputs.outputFiles['inputs.json'])).github_token }}"
      gemini_api_key: "{{ json(read(outputs.extract_inputs.outputFiles['inputs.json'])).gemini_api_key }}"
      # Pass the parsed RCA JSON as a string
      rca_json: "{{ read(outputs.parse_rca_response.outputFiles['rca_result.json']) }}"
      error_logs: "{{ json(read(outputs.extract_inputs.outputFiles['inputs.json'])).error_logs }}"
      parent_execution_id: "{{ execution.id }}"

# ============================================
# WEBHOOK TRIGGER
# ============================================
triggers:
  - id: ci_failure_webhook
    type: io.kestra.plugin.core.trigger.Webhook
    key: ci-failure-webhook
    conditions:
      - type: io.kestra.plugin.core.condition.Expression
        expression: "{{ trigger.body.repository != null }}"

outputs:
  - id: rca_json
    type: STRING
    value: "{{ read(outputs.parse_rca_response.outputFiles['rca_result.json']) }}"