kestra/flows/04-auto-merge-validator.yaml
id: auto-merge-validator
namespace: company.self-healing

description: |
  Workflow #4: Auto-Merge Validator
  Polls GitHub CI + CodeRabbit status and merges when green.

inputs:
  - id: repository
    type: STRING
    required: true
  - id: pr_number
    type: INT
    required: true
  - id: github_token
    type: STRING
    required: true
  - id: parent_execution_id
    type: STRING
    defaults: ""
  - id: max_wait_minutes
    type: INT
    defaults: 30
  - id: poll_interval_seconds
    type: INT
    defaults: 60

tasks:
  # ============================================
  # STEP 1: Initialize
  # ============================================
  - id: initialize
    type: io.kestra.plugin.core.log.Log
    message: |
      🔄 STARTING AUTO-MERGE VALIDATOR
      PR: #{{ inputs.pr_number }} | Repo: {{ inputs.repository }}
      Wait: {{ inputs.max_wait_minutes }}m | Interval: {{ inputs.poll_interval_seconds }}s

  # ============================================
  # STEP 2: Poll CI and Review Status
  # ============================================
  - id: poll_status
    type: io.kestra.plugin.scripts.python.Script
    description: Polls GitHub CI status until ready or timeout
    timeout: PT45M
    env:
      GITHUB_TOKEN: "{{ inputs.github_token }}"
      REPOSITORY: "{{ inputs.repository }}"
      PR_NUMBER: "{{ inputs.pr_number }}"
      MAX_WAIT_MINUTES: "{{ inputs.max_wait_minutes }}"
      POLL_INTERVAL: "{{ inputs.poll_interval_seconds }}"
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      image: python:3.11-slim
      networkMode: host
    beforeCommands:
      - pip install --no-cache-dir PyGithub requests
    outputFiles:
      - "poll_result.json"
    script: |
      import os, json, time
      from datetime import datetime, timedelta
      from github import Github

      # Setup
      token = os.getenv('GITHUB_TOKEN')
      repo_name = os.getenv('REPOSITORY')
      pr_num = int(os.getenv('PR_NUMBER'))
      max_wait = int(os.getenv('MAX_WAIT_MINUTES', '30'))
      poll_int = int(os.getenv('POLL_INTERVAL', '60'))

      print(f"🔄 POLLING PR #{pr_num} on {repo_name}...")

      g = Github(token)
      repo = g.get_repo(repo_name)
      pr = repo.get_pull(pr_num)

      start = datetime.now()
      end = start + timedelta(minutes=max_wait)
      
      final_status = {
          "pr_number": pr_num,
          "action": "waiting",
          "ci_status": "pending"
      }

      iteration = 0
      while datetime.now() < end:
          iteration += 1
          print(f"\n📊 Poll #{iteration}...")
          
          # Refresh Data
          pr = repo.get_pull(pr_num)
          if pr.state != 'open':
              print("❌ PR is closed/merged.")
              final_status["action"] = "pr_closed"
              break

          # Check CI Status (Combined)
          commit = repo.get_commit(pr.head.sha)
          status = commit.get_combined_status().state
          print(f"   📋 CI Status: {status}")

          # Simple Logic: If Success -> Ready. If Failure -> Fail.
          if status == "success":
              print("✅ CI Passed! Ready to merge.")
              final_status["ci_status"] = "passed"
              final_status["action"] = "ready_to_merge"
              break
          elif status == "failure":
              print("❌ CI Failed.")
              final_status["ci_status"] = "failed"
              final_status["action"] = "ci_failed"
              break
          
          print(f"   ⏳ Waiting {poll_int}s...")
          time.sleep(poll_int)

      if final_status["action"] == "waiting":
          print("⚠️ Timeout reached.")
          final_status["action"] = "timeout"

      with open("poll_result.json", 'w') as f:
          json.dump(final_status, f)

  # ============================================
  # STEP 3: Process Result
  # ============================================
  - id: process_result
    type: io.kestra.plugin.core.flow.Switch
    value: "{{ json(read(outputs.poll_status.outputFiles['poll_result.json'])).action }}"
    cases:
      # CASE: Ready to Merge
      ready_to_merge:
        - id: merge_pr
          type: io.kestra.plugin.scripts.python.Script
          taskRunner:
            type: io.kestra.plugin.scripts.runner.docker.Docker
            image: python:3.11-slim
            networkMode: host
          beforeCommands:
            - pip install --no-cache-dir PyGithub
          env:
            GITHUB_TOKEN: "{{ inputs.github_token }}"
            REPOSITORY: "{{ inputs.repository }}"
            PR_NUMBER: "{{ inputs.pr_number }}"
          script: |
            import os
            from github import Github

            token = os.getenv('GITHUB_TOKEN')
            repo_name = os.getenv('REPOSITORY')
            pr_num = int(os.getenv('PR_NUMBER'))

            print(f"🔀 MERGING PR #{pr_num}...")
            g = Github(token)
            repo = g.get_repo(repo_name)
            pr = repo.get_pull(pr_num)

            try:
                pr.merge(merge_method="squash", commit_title=f"🤖 Auto-merge: {pr.title}")
                print("✅ Merge Successful!")
                pr.create_issue_comment("🎉 **Auto-merged by Self-Healing CI**")
            except Exception as e:
                print(f"❌ Merge Failed: {e}")
                exit(1)

      # CASE: CI Failed
      ci_failed:
        - id: handle_ci_failure
          type: io.kestra.plugin.core.log.Log
          message: |
            ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
            ❌ CI FAILED ON PR #{{ inputs.pr_number }}
            ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
            The AI-generated fix did not pass CI tests.
            Action: Manual review required
            ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

        - id: notify_ci_failure
          type: io.kestra.plugin.scripts.python.Script
          taskRunner:
            type: io.kestra.plugin.scripts.runner.docker.Docker
            image: python:3.11-slim
            networkMode: host
          beforeCommands:
            - pip install --no-cache-dir PyGithub
          env:
            GITHUB_TOKEN: "{{ inputs.github_token }}"
            REPOSITORY: "{{ inputs.repository }}"
            PR_NUMBER: "{{ inputs.pr_number }}"
          script: |
            import os
            from github import Github
            
            g = Github(os.getenv('GITHUB_TOKEN'))
            repo = g.get_repo(os.getenv('REPOSITORY'))
            pr = repo.get_pull(int(os.getenv('PR_NUMBER')))
            
            pr.create_issue_comment("⚠️ **Self-Healing Notice:** CI Failed. Please review logs.")
            print("📝 Failure comment added.")

      # CASE: Timeout
      timeout:
        - id: notify_timeout
          type: io.kestra.plugin.scripts.python.Script
          taskRunner:
            type: io.kestra.plugin.scripts.runner.docker.Docker
            image: python:3.11-slim
            networkMode: host
          beforeCommands:
            - pip install --no-cache-dir PyGithub
          env:
            GITHUB_TOKEN: "{{ inputs.github_token }}"
            REPOSITORY: "{{ inputs.repository }}"
            PR_NUMBER: "{{ inputs.pr_number }}"
          script: |
            import os
            from github import Github
            
            g = Github(os.getenv('GITHUB_TOKEN'))
            repo = g.get_repo(os.getenv('REPOSITORY'))
            pr = repo.get_pull(int(os.getenv('PR_NUMBER')))
            
            pr.create_issue_comment("⏱️ **Timeout:** CI did not finish in time. Manual review required.")
            print("📝 Timeout comment added.")

  # ============================================
  # STEP 4: Completion
  # ============================================
  - id: completion
    type: io.kestra.plugin.core.log.Log
    message: |
      ✅ AUTO-MERGE FLOW COMPLETED
      Action Taken: {{ json(read(outputs.poll_status.outputFiles['poll_result.json'])).action }}